<%= form_for(@review , url: product_reviews_path(@product.id)) do |f|  %>

  <%= f.text_field :description %>

  <%= f.submit %>

  <% end %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>
